

body {

    border: solid 5px yellowgreen;
    outline: solid 5px green;
    background-image: url(soft-cloud.webp);
background-size: cover;
       background-attachment: fixed;
max-height: 2000px;
}

.test1 {
    border: 3px solid red;
    padding: 25px;
    margin: 30px;
    color: white;
    width: 350px;
    background-color: black;
    height: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 25px;

}

.test2 {
    border: 3px solid red;
    padding: 10px;
    margin: 30px;
    color: white;
    width: 400px;
    background-color: black;
    height: 60px;
    border-radius: 50px;
    position: relative;
    bottom: 200px;
    left: 300px;
    font-size: 25px;
}

.test3 {
    border: 3px solid red;
    padding: 20px;
    margin: 30px;
    color: white;
    width: 350px;
    background-color: black;
    height: 150px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    bottom: 320px;
    left: 850px;
    font-size: 25px;




}

.circle {
    border: solid 5px chocolate;
    background-color: aqua;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    height: 400px;
    width: 400px;
    position: relative;
    bottom: 100px;
    left: 150px;
    text-align: center;

}

.test4 {

    width: 270px;
    position: relative;
    top: 100px;
    left: 70px;
    font-size: larger;
    font-weight: bolder;
}

.test5 {
    border-style: dashed;
    color: red;
    width: 400px;
    position: relative;
    bottom: 700px;
    left: 800px;
    text-align: center;
}

.test6 {
    border: 3px solid red;
    padding: 10px;
    margin: 30px;
    color: white;
    width: 400px;
    background-color: black;
    height: 60px;
    border-radius: 50px;
    position: relative;
    bottom: 600px;
    left: 350px;
    font-size: 25px;
    text-align: center;
}






.flex-container {


position: relative;
bottom:500px ;
left: 60px;

    display: flex;
    flex-wrap: wrap;

}

.flex-items {
    background-color: aqua;
    width: 320px;
    height: 300px;
    border: solid 5px green;
    border-radius: 25px;
    margin: 20px;
    text-align: center;












}